footer{
    .container{
        padding-top: 3em;
    }
}




//media icon
.media-icon-container{
    margin-top: 3em;
}
.media-icon{
    color:rgba(255, 255, 255, 1);
    margin-right: 2em;
}

//company info
.company-info{
    p{
        line-height: 1;
        @include font_DMSans(400,14px);
    }
    i{
        margin-right: 1em;
    }
}

//copy-right
.copy-right{
    background-color: rgba(0, 0, 0, 1);
    @include font_DMSans(400,14px);
}