main {
    width: 100%;
    background-color: #ffffff;
    height: calc(100% - 60px);
}

.admin-sidebar {
    width: 20%;
    position: absolute;
    padding: 2px;
    left: 0;
    height: 100%;
    background: #fff;
    margin-top: 5px;
}

.main-container {
    width: 80%;
    position: absolute;
    padding: 5px;
    right: 0;
    border: 1px solid;
    margin-top: 5px;
}
