main {
    height: 100%;
    background-color: #ffffff;
    height: calc(100% - 60px);
}

.admin-sidebar {
    width: 20%;
    float: left;
}

.main-container {
    width: 80%;
    float: right;
    margin-top: 2px;
    border: 1px solid;
    margin-bottom: 5px;
}
