// .sidebar-sub {
//     height: 100%;
//     width: 100%;
//     position: relative;
// }

// .list-items li {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     outline: none;
//     background-color: gray;
//     padding-bottom: 10px;
//     display: flex;
// }

// .list-items li a {
//     border: 1px solid;

//     color: inherit;
//     text-decoration: none;
// }

.wrapper {
    height: 100%;
    width: 20%;
    position: relative;
}

.sidebar {
    position: fixed;
    background: #fff;
    height: 100%;
    width: 20%;
}

.sidebar .list-items {
    position: relative;
    background:#fff;
    width: 100%;
    height: 100%;
    list-style: none;
}

.sidebar .list-items li {
    margin-bottom: 2px;
    line-height: 50px;
    border: 1px solid;
    transition: all 0.3s ease;
    background:gray;
}

.sidebar .list-items li:hover {
    background: rgb(196, 172, 172);
}

.sidebar .list-items li:first-child {
    border-top: none;
}

.sidebar .list-items li a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}
