@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
.bg-black {
  background-color: #1c1c1e;
}

.orange-color {
  color: #FF7B42;
}

.border-none {
  border: none !important;
  border-radius: unset !important;
}

.nav-item-margin {
  margin-left: 30px;
}

.banner-image {
  background-image: url(/images/banner-1.png?7231ec92a87d31532bf586d527b6f857);
  background-size: cover;
}

.banner-small-text {
  color: #fff2cf;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.banner-big-text {
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 60px;
  text-align: left;
}

.banner-text {
  margin-bottom: 150px;
}

.left {
  background: white;
  position: relative;
  bottom: 0%;
}

.left:before {
  left: -999em;
  background: white;
  content: "";
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}

.featured-item {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.featured-item:first-child {
  display: flex;
  flex-direction: column;
  align-items: initial;
}

.featured-item p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
}

.featured-item-number {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 24px;
}

/* Search form */
.search-form {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.88);
}

.search-form-tab li {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-form-tab li button {
  width: 100%;
  color: #3d3e3f;
  border: none !important;
  border-radius: unset !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-form-tab .nav-item .active {
  background-color: #ff7b42;
  color: white;
}

.tab-content {
  padding-left: 30px;
  padding-right: 30px;
}

.tab-content-title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  margin-top: 24px;
}

.form-group {
  padding-bottom: 18px;
}
.form-group .form-group-icon {
  background: white;
  border: none !important;
  border-radius: unset !important;
}

.btn-custom {
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #ff7b42;
  margin-bottom: 34px;
  border: none;
}

footer .container {
  padding-top: 3em;
}

.media-icon-container {
  margin-top: 3em;
}

.media-icon {
  color: white;
  margin-right: 2em;
}

.company-info p {
  line-height: 1;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
}
.company-info i {
  margin-right: 1em;
}

.copy-right {
  background-color: black;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
}

.topbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  height: 100%;
  background-color: #ffffff;
  height: calc(100% - 60px);
}

.admin-sidebar {
  width: 20%;
  float: left;
}

.main-container {
  width: 80%;
  float: right;
  margin-top: 2px;
  border: 1px solid;
  margin-bottom: 5px;
}

.wrapper {
  height: 100%;
  width: 20%;
  position: relative;
}

.sidebar {
  position: fixed;
  background: #fff;
  height: 100%;
  width: 20%;
}

.sidebar .list-items {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  list-style: none;
}

.sidebar .list-items li {
  margin-bottom: 2px;
  line-height: 50px;
  border: 1px solid;
  transition: all 0.3s ease;
  background: gray;
}

.sidebar .list-items li:hover {
  background: #c4acac;
}

.sidebar .list-items li:first-child {
  border-top: none;
}

.sidebar .list-items li a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
