@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
.bg-black {
  background-color: #1c1c1e;
}

.orange-color {
  color: #FF7B42;
}

.border-none {
  border: none !important;
  border-radius: unset !important;
}

.intro-container {
  margin-top: 12.5em;
  margin-bottom: 10em;
}

.intro-image-container {
  height: 38em;
  position: relative;
}

.overlay-img {
  position: absolute;
  bottom: 0%;
  left: 35%;
}

.intro-title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 2.5em;
}

.intro-body {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 1em;
}

.dest-container {
  margin-bottom: 9.375em;
}

.dest-title {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 2.5em;
}

.btn-viewall {
  border: none;
  padding: 0.5em;
}

.dest-item-name {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 0.125em;
  margin-top: 0.75em;
}

.dest-item-exp {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 0.875em;
  color: #636567;
}

.tour-item-img-container {
  position: relative;
}

.highlight {
  position: absolute;
  top: -1%;
  right: 5%;
}

.tour-item-rate {
  padding: 0.5em;
  background-color: #FF7B42;
  color: white;
  width: 20%;
  position: absolute;
  left: 0%;
  bottom: 10%;
}

.tour-item p {
  margin-bottom: 0;
}

.tour-title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0.5em !important;
}

.tour-desc {
  margin-left: 0.8rem;
  margin-bottom: 0;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 0.875em;
  color: #636567;
}

.tour-price {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 0.5em;
}

.email-container {
  margin-bottom: 9em;
}

.email-title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 2.5em;
}

.email-container .input-group-text {
  background-color: unset !important;
}

.email-input {
  border-radius: unset;
  border: 1px solid #636567;
}

.email-btn {
  background-color: #1c1c1e;
  color: white;
  border: none;
  padding: 1em 2em;
  margin-left: 1.3em;
}
